@import '../../../../variables.scss';

.file-change__container {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    background: $dark__color;

    p {
        text-align: center;
        margin-bottom: 10px;
        font-family: $primary__font;
        color: $light__color;
    }

    app-primary-btn {
        width: 100%;
    }
}

.results {
    height: fit-content;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .data__container {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    h2 {
        @include heading2__style;
    }

    .date {
        text-align: center;
        font-family: $primary__font;
        font-weight: 700;
        font-size: 35px;
        color: $text__primary__color;
    }

    .answers__container {
        margin-top: 25px;
        width: 100%;

        .question {
            @include heading2__style;
            font-size: 15px;
            margin-bottom: 5px;
        }

        .state-affected__container {
            border-radius: 15px;
            background-color: $shadow__color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:first-child {
                margin: 25px;
                @include title__State;
            }

            p:nth-child(2) {
                color: white;
                font-family: $primary__font;
                width: 100%;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 0 0 14px 14px;
                background: $dark__color;
                line-height: 1.2rem;
            }

            span {
                line-height: 3rem;
                font-weight: bold;
                font-size: 30px;
            }

        }

        .information__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            background-color: $shadow__color;
            border-radius: 15px;

            .state {
                width: 65%;
                padding: 0 20px 0 20px;
                @include title__State;
            }

            .deaths__container {
                border-radius: 0 15px 15px 0;
                padding: 15px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 35%;
                height: 100%;
                background: $dark__color;

                p {
                    color: $light__color;
                    font-family: $primary__font;
                }

                p:first-child {
                    font-size: 25px;
                    font-weight: bold;
                }

            }

        }

    }


    .graphs__container {
        border-radius: 20px 20px 0 0;
        width: 100%;
        background-color: $shadow__color;

        h2 {
            margin: 25px auto;
            @include title__style;
        }

        .graph {
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 30px);
            aspect-ratio: 1/1;
            background-color: rgb(134, 134, 134);
        }

        .states__container {
            margin: 15px;
            display: grid;
            grid-template-columns: 30% 30% 30%;
            justify-content: center;
            width: calc(100% - 30px);
            height: 350px;
            overflow-y: scroll;
            gap: 2.5%;

            .state__item{
                user-select: none;
                cursor: pointer;
                background-color: $light__color;
                border-radius: 10px;
                padding: 15px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $primary__font;
                font-size: 0.8rem;
                font-weight: 500;
                text-align: center;
                -webkit-box-shadow: 0px 0px 5px 0px $primary__shadow__color;
                -moz-box-shadow: 0px 0px 5px 0px $primary__shadow__color;
                box-shadow: 0px 0px 5px 0px $primary__shadow__color;
            
                &:hover{
                    background-color: $primary__shadow__color;
                }

            }

            .itemSelected{
                background-color: $primary__shadow__color;
                color: $light__color;
            }

        }

    }

}


@media screen and (min-width: 700px) {

    .results {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: space-between;

        .data__container {
            max-width: 700px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            margin: 0 auto auto auto;
        }


        .graphs__container {
            border-radius: 0;
            margin: 0px 0 0px auto;
            width: 100%;
            background-color: $shadow__color;

            h2 {
                margin: 25px auto;
                @include title__style;
            }

        }

    

    }

}